@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
    --primary-colour: #ffffff;
    --secondary-colour: #e5dfdc;
    --secondary2-colour: #cac1ba;
    --secondary3-colour: #93989f;
    --accent-colour: #000000;
    --text-colour: #000000;
    --time-range-colour: #cac1ba;
    --items-colour: #ffffff;
    
}

.primary-bg
{
    background-color: var(--primary-colour);
}
.secondary-bg
{
    background-color: var(--secondary-colour);
}
.secondary2-bg
{
    background-color: var(--secondary2-colour);
}
.secondary3-bg
{
    background-color: var(--secondary3-colour);
}
.accent-bg
{
    background-color: var(--accent-color);
}
.items-bg
{
    background-color: var(--items-colour);
}
.font
{
    color: var(--text-colour);
}
.fill
{
    fill: var(--text-colour);
}
.stroke
{
    stroke: var(--text-colour);
}